@media screen and (max-width: 1180px) {
    #btn-toggler {
        display: block;
    }
    #btn-g {
        display: none;
    }
}

@media screen and (min-width: 1180px) {
    #btn-toggler {
        display: none;
    }
    #btn-g {
        display: block;
    }
}

@media screen and (max-width: 499px) {
    #imglogo2 {
        display: block;
        ;
    }
    #imglogo {
        display: none;
    }
}

@media screen and (min-width: 499px) {
    #imglogo2 {
        display: none;
    }
}